<div class="card mt-5">
  <div class="card-body pt-9 pb-0">
    <a style="margin-left: 25px;" [routerLink]="[ '/']" class="btn btn-sm btn-primary"><i class="fa fa-arrow-left"
        aria-hidden="true"></i> Back</a>

    <div class="card mb-2 mb-xl-2">
      <div class="card-header cursor-pointer">
        <div class="card-title m-0">
          <h3 class="fw-bolder m-0">Provider Information</h3>
        </div>
      </div>
      <div class="card-body p-9">
        <div class="row mb-7">
          <label class="col-lg-4 fw-bold text-muted">Full Name</label>

          <div class="col-lg-8">
            <span class="fw-bolder fs-6 text-dark">
              {{data[keys.FIRST_NAME]}}
              {{data[keys.MIDDLE_NAME]}}
              {{data[keys.LAST_NAME]}}
            </span>
          </div>
        </div>
        <div class="row mb-7">
          <label class="col-lg-4 fw-bold text-muted">Provider License Number(If Given)</label>

          <div class="col-lg-8 fv-row">
            <span class="fw-bold fs-6">{{data[keys.LICENCE_NUMBER]}}</span>
          </div>
        </div>
        <div class="row mb-7">
          <label class="col-lg-4 fw-bold text-muted">Gender</label>

          <div class="col-lg-8">
            <span class="fw-bolder fs-6 text-dark">
              {{data[keys.GENDER] == 'M' ? 'MALE': data[keys.GENDER] == 'F' ? 'Female': '-'}}
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-2 mb-xl-2">
      <div class="card-header cursor-pointer">
        <div class="card-title m-0">
          <h3 class="fw-bolder m-0">NPI Information</h3>
        </div>
      </div>
      <div class="card-body p-9">
        <div class="row mb-7" *ngIf="!isEmpty(data[keys.NPI])">
          <label class="col-lg-4 fw-bold text-muted">
            NPI
          </label>

          <div class="col-lg-8 d-flex align-items-center">
            <span class="fw-bolder fs-6 me-2">{{data[keys.NPI]}}</span>
          </div>
        </div>
        <div class="row mb-7" *ngIf="!isEmpty(data[keys.ENTITY_TYPE_CODE])">
          <label class="col-lg-4 fw-bold text-muted">
            Type
          </label>
          <div class="col-lg-8 d-flex align-items-center">
            <span class="fw-bolder fs-6 me-2">{{
              entityTypesTitle[data[keys.ENTITY_TYPE_CODE]]
            }}</span>
          </div>
        </div>
        <div class="row mb-7" *ngIf="!isEmpty(data[keys.ENUMERATION_DATE])">
          <label class="col-lg-4 fw-bold text-muted">
            Enumeration Date
          </label>
          <div class="col-lg-8 d-flex align-items-center">
            <span class="fw-bolder fs-6 me-2">{{data[keys.ENUMERATION_DATE]}}</span>
          </div>
        </div>
        <div class="row mb-7" *ngIf="!isEmpty(data[keys.LAST_UPDATED_DATE])">
          <label class="col-lg-4 fw-bold text-muted">
            Last Update Date
          </label>
          <div class="col-lg-8 d-flex align-items-center">
            <span class="fw-bolder fs-6 me-2">{{data[keys.LAST_UPDATED_DATE]}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-2 mb-xl-2" *ngIf="!isEmpty(keys.BUSINESS_COUNTRY) || !isEmpty(keys.BUSINESS_STATE) || !isEmpty(keys.BUSINESS_CITY) || !isEmpty(keys.BUSINESS_TELEPHONE) || !isEmpty(keys.BUSINESS_FAX_NUMBER) || !isEmpty(keys.BUSINESS_ADDRESS_LINE_1) || !isEmpty(keys.BUSINESS_ADDRESS_LINE_2) || !isEmpty(keys.BUSINESS_POST_CODE)">
      <div class="card-header cursor-pointer">
        <div class="card-title m-0">
          <h3 class="fw-bolder m-0">Provider Business Mailing Address</h3>
        </div>

      </div>
      <div class="card-body p-9">
        <div class="row mb-7">
          <label class="col-lg-4 fw-bold text-muted">Country</label>

          <div class="col-lg-8 fv-row">
            <span class="fw-bold fs-6">{{countryMap[data[keys.BUSINESS_COUNTRY]] || '-'}}</span>
          </div>
        </div>

        <div class="row mb-7" *ngIf="!isEmpty(data[keys.BUSINESS_COUNTRY]) && !isEmpty(stateMap[data[keys.BUSINESS_COUNTRY]]) && !isEmpty(stateMap[data[keys.BUSINESS_COUNTRY]][data[keys.BUSINESS_STATE]])">
          <label class="col-lg-4 fw-bold text-muted">State</label>

          <div class="col-lg-8 fv-row">
            <span class="fw-bold fs-6">{{stateMap[data[keys.BUSINESS_COUNTRY]][data[keys.BUSINESS_STATE]] || '-'}}</span>
          </div>
        </div>

        <div class="row mb-7">
          <label class="col-lg-4 fw-bold text-muted">City</label>

          <div class="col-lg-8 fv-row">
            <span class="fw-bold fs-6">{{data[keys.BUSINESS_CITY] || '-'}}</span>
          </div>
        </div>

        <div class="row mb-7" *ngIf="!isEmpty(data[keys.BUSINESS_TELEPHONE])">
          <label class="col-lg-4 fw-bold text-muted">
            Contact Phone
          </label>

          <div class="col-lg-8 d-flex align-items-center">
            <span class="fw-bolder fs-6 me-2">{{data[keys.BUSINESS_TELEPHONE]}}</span>
          </div>
        </div>

        <div *ngIf="!isEmpty(data[keys.BUSINESS_FAX_NUMBER])" class="row mb-7">
          <label class="col-lg-4 fw-bold text-muted">
            Fax
          </label>

          <div class="col-lg-8 d-flex align-items-center">
            <span class="fw-bolder fs-6 me-2">{{data[keys.BUSINESS_FAX_NUMBER]}}</span>
          </div>
        </div>

        <div class="row mb-7">
          <label class="col-lg-4 fw-bold text-muted">Address</label>

          <div class="col-lg-8">
            <span class="fw-bolder fs-6 text-dark">
              {{getAddress(
              data[keys.BUSINESS_ADDRESS_LINE_1],
              data[keys.BUSINESS_ADDRESS_LINE_2],
              data[keys.BUSINESS_CITY],
              data[keys.BUSINESS_STATE],
              data[keys.BUSINESS_COUNTRY],
              data[keys.BUSINESS_POST_CODE])}}
            </span>
          </div>
        </div>
      </div>
    </div>
    
    <div class="card mb-2 mb-xl-2" *ngIf="!isEmpty(keys.COUNTRY) || !isEmpty(keys.STATE) || !isEmpty(keys.CITY) || !isEmpty(keys.TELEPHONE) || !isEmpty(keys.FAX_NUMBER) || !isEmpty(keys.ADDRESS_LINE_1) || !isEmpty(keys.ADDRESS_LINE_2) || !isEmpty(keys.POST_CODE)">
      <div class="card-header cursor-pointer">
        <div class="card-title m-0">
          <h3 class="fw-bolder m-0">Provider Business Practice Location Address</h3>
        </div>

      </div>
      <div class="card-body p-9">
        <div class="row mb-7">
          <label class="col-lg-4 fw-bold text-muted">Country</label>

          <div class="col-lg-8 fv-row">
            <span class="fw-bold fs-6">{{countryMap[data[keys.COUNTRY]] || '-'}}</span>
          </div>
        </div>

        <div class="row mb-7" *ngIf="!isEmpty(data[keys.COUNTRY]) && !isEmpty(stateMap[data[keys.COUNTRY]]) && !isEmpty(stateMap[data[keys.COUNTRY]][data[keys.STATE]])">
          <label class="col-lg-4 fw-bold text-muted">State</label>

          <div class="col-lg-8 fv-row">
            <span class="fw-bold fs-6">{{stateMap[data[keys.COUNTRY]][data[keys.STATE]] || '-'}}</span>
          </div>
        </div>

        <div class="row mb-7">
          <label class="col-lg-4 fw-bold text-muted">City</label>

          <div class="col-lg-8 fv-row">
            <span class="fw-bold fs-6">{{data[keys.CITY] || '-'}}</span>
          </div>
        </div>

        <div class="row mb-7" *ngIf="!isEmpty(data[keys.TELEPHONE])">
          <label class="col-lg-4 fw-bold text-muted">
            Contact Phone
          </label>

          <div class="col-lg-8 d-flex align-items-center">
            <span class="fw-bolder fs-6 me-2">{{data[keys.TELEPHONE]|| '-'}}</span>
          </div>
        </div>

        <div *ngIf="!isEmpty(data[keys.FAX_NUMBER])" class="row mb-7">
          <label class="col-lg-4 fw-bold text-muted">
            Fax
          </label>

          <div class="col-lg-8 d-flex align-items-center">
            <span class="fw-bolder fs-6 me-2">{{data[keys.FAX_NUMBER] || '-'}}</span>
          </div>
        </div>

        <div class="row mb-7">
          <label class="col-lg-4 fw-bold text-muted">Address</label>

          <div class="col-lg-8">
            <span class="fw-bolder fs-6 text-dark">
              {{getAddress(
              data[keys.ADDRESS_LINE_1],
              data[keys.ADDRESS_LINE_2],
              data[keys.CITY],
              data[keys.STATE],
              data[keys.COUNTRY],
              data[keys.POST_CODE])}}
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-2 mb-xl-2" *ngIf="texonomyData.length > 0">
      <div class="card-header cursor-pointer">
        <div class="card-title m-0">
          <h3 class="fw-bolder m-0">Provider Taxonomy</h3>
        </div>
      </div>
      <div class="card-body p-9">
        <div class="d-flex flex-wrap flex-stack">
          <div class="d-flex flex-column flex-grow-1 pe-8">
              <div class="d-flex flex-wrap">
                <ng-container *ngFor="let item of texonomyData; let i = index;">
                  <ng-container *ngIf="i >=1">
                    <div
                    class="
                      border border-gray-300 border-dashed
                      rounded
                      min-w-125px
                      py-3
                      px-4
                      me-6
                      mb-3
                    "
                  >
                    <div class="d-flex align-items-center">
                      <div class="fs-2 fw-bolder">{{item}}</div>
                    </div>
    
                    <div class="fw-bold fs-6 text-gray-400">{{
                      i >=1 ? 'Secondary': 'Primary' 
                    }}</div>
                  </div>
                  </ng-container>
                  <ng-container *ngIf="i ==0">
                    <div
                  class="
                    notice bg-light-warning rounded border-warning border border-dashed
                    py-3
                    px-4
                    me-6
                    mb-3
                  "
                >
                  <div class="d-flex align-items-center">
                    <div class="fs-2 fw-bolder">{{item}}</div>
                  </div>
  
                  <div class="fw-bold fs-6 text-gray-400">{{
                    i >=1 ? 'Secondary': 'Primary' 
                  }}</div>
                </div>
                  </ng-container>                
              </ng-container>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

<ngx-ui-loader></ngx-ui-loader>