<div class="container-xxl d-flex flex-grow-1 flex-stack">

  <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
    <div data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
      <a>
        <img alt="Logo" src="./assets/logo.png" width="50px" height="50px">
      </a>
      <span class="h-20px border-gray-200 border-start mx-4"></span>
      <!--begin::Title-->
      <h1 class="d-flex align-items-center text-dark fw-bolder fs-3 my-1">NPI Search</h1>
      <!--end::Title-->
      <!--begin::Separator-->
      
    </div>    
  </div>
</div>