<div class="search-page">
    <div class="card">
        <div class="card-header border-0 pt-6">
            <div class="card-body">
                <!--begin::Compact form-->
                <div class="d-flex align-items-center">
                    <!--begin::Input group-->
                    <div class="position-relative col-md-4 me-md-2">
                        <input appNumberOnly type="text" class="form-control form-control-solid ps-10" name="npi" 
                            placeholder="NPI Number" [(ngModel)]="filter.npi">
                    </div>
                    <div class="position-relative col-md-4 me-md-2">
                        <input type="text" class="form-control form-control-solid ps-10" name="firstName" 
                        [(ngModel)]="filter.firstName" placeholder="First Name">
                    </div>
                    <div class="position-relative col-md-4 me-md-2">
                        <input type="text" class="form-control form-control-solid ps-10" name="lastName" 
                        [(ngModel)]="filter.lastName" placeholder="Last Name">
                    </div>
                    <!--end::Input group-->
                </div>
                <div class="d-flex align-items-center" style="float: right !important;">
                    <a id="kt_horizontal_search_advanced_link" class="btn btn-link"
                    (click)="showAdvancedFilter=!showAdvancedFilter" aria-expanded="true">Advanced Search</a>
                </div>
                
                <!--end::Compact form-->
                <!--begin::Advance form-->
                <div class="collapse show" *ngIf="showAdvancedFilter">
                    <div class="separator separator-dashed mt-12 mb-6"></div>
                    <!--begin::Separator-->
                    <!--end::Separator-->
                    <!--begin::Row-->
                    <div class="row g-12 mb-8">
                        <!--begin::Col-->
                        <div class="col-xxl-12">
                            <!--begin::Row-->
                            <div class="row">
                                <!--begin::Col-->
                                <div class="col-lg-4">
                                    <label class="fs-6 form-label fw-bolder text-dark">Country</label>
                                    <!--begin::Select-->
                                    <ng-select (change)="onCountryChange()" [clearable]="true" [placeholder]="'Select Country'" name="country" class="form-select form-select-solid select2-hidden-accessible" [(ngModel)]="filter.country">
                                        <ng-option *ngFor="let country of countriesList" [value]="country.iso2">{{country.name}}</ng-option>
                                     </ng-select>
                                    <!--end::Select-->
                                </div>
                                <div class="col-lg-4">
                                    <label class="fs-6 form-label fw-bolder text-dark">State</label>
                                    <!--begin::Select-->
                                    <ng-select (change)="onStateChange()" [disabled]="isEmpty(filter.country)" [clearable]="true" [placeholder]="'Select State'" name="state" class="form-select form-select-solid select2-hidden-accessible" [(ngModel)]="filter.state">
                                        <ng-option *ngFor="let state of stateList" [value]="state.state_code">{{state.name}}</ng-option>
                                     </ng-select>
                                    <!--end::Select-->
                                </div>
                                <div class="col-lg-4">
                                    <label class="fs-6 form-label fw-bolder text-dark">City</label>
                                    <!--begin::Select-->
                                     <div>
                                        <input style="padding: 13px;" [disabled]="isEmpty(filter.country) || isEmpty(filter.state)" 
                                        [readOnly]="isEmpty(filter.country) || isEmpty(filter.state)"  
                                        type="text" class="city-field form-control form-control-solid ps-10" [placeholder]="'Select City'" name="city"
                                        [(ngModel)]="filter.city">
                                    </div>
                                    <!--end::Select-->
                                </div>
                                <!--end::Col-->
                            </div>
                            <!--end::Row-->
                        </div>
                        <div class="col-xxx-5 mt-6">
                            <!--begin::Col-->
                            <ng-container *ngIf="false">
                                <div class="col-lg-12">
                                    <label class="fs-6 form-label fw-bolder text-dark">Address Type</label>
                                    <!--begin::Radio group-->
                                    <div class="nav-group nav-group-fluid">
                                        <!--begin::Option-->
                                        <label>
                                            <input type="radio" class="btn-check" name="type" value="has" checked="checked">
                                            <span
                                                class="btn btn-sm btn-color-muted btn-active btn-active-primary fw-bolder px-4">Any</span>
                                        </label>
                                        <!--end::Option-->
                                        <!--begin::Option-->
                                        <label>
                                            <input type="radio" class="btn-check" name="type" value="users">
                                            <span
                                                class="btn btn-sm btn-color-muted btn-active btn-active-primary fw-bolder px-4">Primary
                                                Location</span>
                                        </label>
                                        <!--end::Option-->
                                        <!--begin::Option-->
                                        <label>
                                            <input type="radio" class="btn-check" name="type" value="orders">
                                            <span
                                                class="btn btn-sm btn-color-muted btn-active btn-active-primary fw-bolder px-4">Secondary
                                                Location</span>
                                        </label>
                                        <!--end::Option-->
                                    </div>
                                    <!--end::Radio group-->
                                </div>
                            </ng-container>
                            <!--end::Col-->
                        </div>
                        <!--end::Col-->
                    </div>
                    <!--end::Row-->
                </div>
                <!--end::Advance form-->
                <div class="separator separator-dashed mt-12 mb-6"></div>
                <div class="d-flex align-items-center" style="float: right;">
                    <button type="submit" class="btn btn-primary me-5" (click)="onSearch()">Search</button>
                    <button type="submit" class="btn btn-danger me-5" (click)="onReset()">Reset</button>
                </div>
            </div>
        </div>
    </div>
    <div class="card mt-5">
        <!--begin::Card body-->
        <div class="card-body pt-5">
            <!--begin::Table-->
            <div id="kt_table_users_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">          
                <div class="table-responsive">
                    <table datatable [dtOptions]="dtOptions" 
                        class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer">
                        <!--begin::Table head-->
                        <thead>
                            <!--begin::Table row-->
                            <tr class="text-start text-muted fw-bolder fs-7 text-uppercase gs-0">
                                <th class="min-w-125px fs-6 form-label fw-bolder text-dark" tabindex="0" aria-controls="kt_table_users" rowspan="1"
                                    colspan="1">NPI Number</th>
                                <th class="min-w-125px fs-6 form-label fw-bolder text-dark" tabindex="0" aria-controls="kt_table_users" rowspan="1"
                                    colspan="1">First Name</th>
                                <th class="min-w-125px fs-6 form-label fw-bolder text-dark" tabindex="0" aria-controls="kt_table_users" rowspan="1"
                                    colspan="1">Last Name</th>
                                <th class="min-w-125px fs-6 form-label fw-bolder text-dark" tabindex="0" aria-controls="kt_table_users" rowspan="1"
                                    colspan="1">Country</th>
                                    <th class="min-w-125px fs-6 form-label fw-bolder text-dark" tabindex="0" aria-controls="kt_table_users" rowspan="1"
                                    colspan="1">State</th>
                                    <th class="min-w-125px fs-6 form-label fw-bolder text-dark" tabindex="0" aria-controls="kt_table_users" rowspan="1"
                                    colspan="1">City</th>
                                <th class="min-w-100px fs-6 form-label fw-bolder text-dark" rowspan="1" colspan="1"
                                    aria-label="Actions">Actions</th>
                            </tr>
                            <!--end::Table row-->
                        </thead>
                        <!--end::Table head-->
                        <!--begin::Table body-->
                        <tbody class="text-gray-600 fw-bold" *ngIf="data.length > 0">
                            <!--end::Table row-->
                            <tr class="odd" *ngFor="let row of data;let index = index" [ngClass]="{'odd': index%2!=0,'even': index%2==0}">
                                <td>
                                    <div class="badge badge-light fw-bolder">{{row[fieldKeys.NPI]}} </div>
                                </td>
                                <td>
                                   {{row[fieldKeys.FIRST_NAME] || '-'}} 
                                </td>
                                <td>
                                    {{row[fieldKeys.LAST_NAME] || '-'}} 
                                 </td>
                                 <td>
                                    {{countriesListMap[row[fieldKeys.COUNTRY]] || '-'}} 
                                 </td>
                                 <td>
                                    {{ getStateName(row[fieldKeys.COUNTRY],row[fieldKeys.STATE]) || '-'}} 
                                 </td>
                                 <td>
                                    {{row[fieldKeys.CITY] || '-'}} 
                                 </td>
                                <td>
                                    <div class="d-flex justify-content-start flex-shrink-0">
                                        <a title="View More Details" [routerLink]="[ '/details/'+ row[fieldKeys.NPI] ]" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1">
                                            <!--begin::Svg Icon | path: icons/duotune/general/gen019.svg-->
                                            <span class="svg-icon svg-icon-3">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    viewBox="0 0 24 24" fill="none">
                                                    <path
                                                        d="M17.5 11H6.5C4 11 2 9 2 6.5C2 4 4 2 6.5 2H17.5C20 2 22 4 22 6.5C22 9 20 11 17.5 11ZM15 6.5C15 7.9 16.1 9 17.5 9C18.9 9 20 7.9 20 6.5C20 5.1 18.9 4 17.5 4C16.1 4 15 5.1 15 6.5Z"
                                                        fill="black"></path>
                                                    <path opacity="0.3"
                                                        d="M17.5 22H6.5C4 22 2 20 2 17.5C2 15 4 13 6.5 13H17.5C20 13 22 15 22 17.5C22 20 20 22 17.5 22ZM4 17.5C4 18.9 5.1 20 6.5 20C7.9 20 9 18.9 9 17.5C9 16.1 7.9 15 6.5 15C5.1 15 4 16.1 4 17.5Z"
                                                        fill="black"></path>
                                                </svg>
                                            </span>
                                            <!--end::Svg Icon-->
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tbody class="text-gray-600 fw-bold"  *ngIf="data.length == 0">
                            <tr class="odd text-center">
                                <td colspan="7">
                                    No Data Found
                                </td>
                            </tr>
                        </tbody>
                        <!--end::Table body-->
                    </table>
                </div>
            </div>
            <!--end::Table-->
        </div>
        <!--end::Card body-->
    </div>
</div>